      <div class="container hero" id="hero">
        <h1>Hello, Welcome !</h1>
        <p>We are happy to see you here !</p>
        <p>Let start a game party.</p>
        <button type="button" class="starter" id="starter" onclick="starting()">Start</button>
      </div>

      
      <div class="container userInfos" id="userInfos">
        <h1>About you . . .</h1>
        <p>Know your name will help us to sympathize with you. <br> So how can we call you like ?</p>
        <form action="" id="nameForm">
          <div class="usernameBox">
            <input type="text" name="username" id="username" required>
            <label for="username">Enter your name here</label>
          </div>
          <button type="submit">Submit the name</button>
        </form>
      </div>